@model Blogger.Models.PostDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryDetail.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDetail.CategoryName)
        </dd>


       
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Create_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Create_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeaturedImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeaturedImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
